/* 定义 id 为 root 的元素的样式 */
#root {
  max-width: 1280px; /* 设置最大宽度为 1280px */
  margin: 0 auto; /* 水平居中 这条规则设置了root元素的上下外边距为0，左右外边距自动。auto值会使元素在其父容器中水平居中。 */
  padding: 2rem; /* 内边距为 2rem rem是一个相对单位，相对于根元素（通常是<html>元素）的字体大小。这里设置为2rem，意味着内边距的大小是根元素字体大小的两倍。 */
  text-align: center; /* 文本居中 */
}
